html,
body {
  margin: 0;
  padding: 0;
  background: $white;
  font-size: 14px;
}

body {
  font-family: 'gilroymedium', sans-serif;
  color: $brand-black;
  font-weight: 400;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container-fluid {
  padding: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1 {
  font-family: 'gilroyblack', sans-serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.47px;
  text-transform: uppercase;
  margin: 10px 0px 10px 0px;

  @include media-breakpoint-up(md) {
    font-size: 48px;
    line-height: 51px;
    letter-spacing: -0.38px;
  }
}

h2,
.h2 {
  font-family: 'gilroybold', sans-serif;
  font-size: 24px;
  margin: 0;

  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}

h3,
.h3 {
  font-family: 'gilroysemibold', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-family: 'gilroysemibold', sans-serif;
  font-size: 18px;
  line-height: 23px;
  margin: 0;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

h5,
.h5,
h6,
.h6 {
  font-family: 'gilroybold', sans-serif;
  font-size: 16px;
  margin: 0;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}

p {
  margin: 5;
}

.introduction {
  font-family: 'gilroyregular', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0px 30px 0px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 25px;
  }
}

pre {
  font-family: monospace;
  font-size: 1rem;
  margin: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  margin: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

strong,
b {
  font-family: 'gilroysemibold', sans-serif;
}

small {
  font-family: 'gilroyregular', sans-serif;
  font-size: 10px;
  line-height: 1.65;
}

a {
  transition: 0.2s color;
  color: $brand-black;
  text-decoration: none;

  &:hover {
    color: $brand-blue;
  }
}

[aria-hidden="true"] {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.block {
  @media screen and (max-width: $phone){
    margin-top: 20px;
    margin-bottom: 20px;
  }
    
  @media screen and (min-width: $large_screen){
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.block2 {
  @media screen and (max-width: $phone){
    margin-top: 25px;
    margin-bottom: 25px;
  }
    
  @media screen and (min-width: $large_screen){
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.margin-top {
  margin-top: 5rem;
}

.margin-top-big {
  margin-top: 10rem;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.margin-bottom-big {
  margin-bottom: 10rem;
}

.margin-bottom-bigger {
  margin-bottom: 15rem;
}

.margin-bottom-biggest {
  margin-bottom: 20rem;
}

.blue-border {
  border-left: 4px solid $brand-blue;
}

.salmon-border {
  border-top: 4px solid $brand-rose;
}

