@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin salmon-border {
  border-top: 4px solid $brand-rose;
}
@mixin blue-border {
  border-left: 4px solid $brand-blue;
}
@mixin block2 {
  @media screen and (max-width: $phone){
    margin-top: 25px;
    margin-bottom: 25px;
  }
    
  @media screen and (min-width: $large_screen){
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@mixin phone-container() {
  max-width: 334px;
}
