/**
 * Define our variables here
 */

// Colors
$white:        #fff;
$lightgray:    #f2f2f2;
$gray:         #9b9b9b;
$black:        #000;

$brand-black:         #203046;
$brand-rose:          #efcdbc;
$brand-blue:          #3ba7d6;
$brand-blue-lighter:  #6ed3ed;

/**
 * Some bootstrap variables the grid system uses (our only component)
 */

$grid-columns:      12;
$grid-gutter-width: 2%;

$site-max-width: 1516px;

$grid-breakpoints: (
  xs: 0,
  sm: 420px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: $site-max-width,
  xxxl: 1600px
);

$container-max-widths: (
  sm: 100%,
  // md: 100%, Commented these out to prevent error notice on build
  // lg: 100%,
  // xl: 100%,
  xxl: 1340px
);

// ? how do i use the variables if these -- ask Lari
// ! temp solution
$phone: 420px;
$large_screen: 800px;