.button {
  font-family: 'gilroybold', sans-serif;
  display: inline-block;
  padding: 9px 41px;
  font-size: 14px;
  color: $white;
  background-color: $brand-black;

  &.hollow {
    border: 2px solid $brand-black;
    background-color: transparent;
    color: $brand-black;
  }

  &.rose {
    color: $brand-rose;
    border: 2px solid $brand-rose;
    background-color: transparent;
  }
}

input.button {
  appearance: none;
}
