.columns {
  justify-content: space-evenly;
  @extend .flex;
  @extend .block2;

  &__items {
    max-width: 420px;
    max-height: 600px;
  }

  &__image {
    
    & > img {
      @extend .salmon-border;
    display: block;
    height: 393px;
    margin-bottom: 20px;

      @media screen and (max-width: $phone) {
        max-width: 112px;
        max-height: 106px;
      }
    }

    @media screen and (max-width: $phone) {
      display: flex;
    }
  }

  &__text {
    display: block;
    padding-right: 5px;

    @media screen and (max-width: $phone) {
      padding-left: 20px;
    }
  }

  @media screen and (max-width: $phone) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include phone-container();
    
    p {
      display: none;
    }
  }
}
