#cart-form {
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    padding: 11px 15px;
    border: 1px solid $gray;
    font-family: 'gilroymedium', sans-serif;
    font-size: 1rem;
    margin-bottom: 12px;

    &::placeholder {
      color: $gray;
    }
  }

  textarea {
    height: 150px;
  }

  .col-submit {
    @include media-breakpoint-up(md) {
      align-self: flex-end;
      text-align: right;
    }
  }
}

.shop_table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background: linear-gradient(90deg, $brand-blue 0%, $brand-blue-lighter 100%);
    color: $white;

    th {
      font-weight: normal;
      font-size: 12px;
      padding: 12px;
    }
  }
}

#pond {
  border: 1px dashed $gray;
  padding: 1px;

  .filepond--root {
    margin-bottom: 0;
  }

  [aria-hidden="true"] {
    display: unset;
  }
}
