.nisa-steps {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 40px;
    left: 16.6%;
    right: 16.6%;
    background-color: $brand-black;
    z-index: 0;
  }

  .nisa-step {
    flex: 0 0 33%;
    text-align: center;
    padding: 0 5%;
    z-index: 1;

    .step-border {
      display: inline-block;
      width: 110px;
      background-color: $lightgray;
    }

    .step-number {
      display: inline-block;
      background-color: $brand-black;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 50%;
      font-size: 50px;
      font-family: 'gilroyblack', sans-serif;
      color: $lightgray;
    }

    &:last-child .step-number {
      background-color: $lightgray;
      border: 2px solid $brand-black;
      color: $brand-black; 
    }

    .step-text {
      margin-top: 30px;
    }
  }

}
