.site-header {
  .header-wrapper {
    position: relative;
    max-width: $site-max-width;
    margin: 0 15px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(xxl) {
      margin: 0 auto;
    }
  }

  .logo {
    width: 100px;
    height: 32px;
    display: block;
    text-indent: -100%;
    overflow: hidden;
    background-image: url(../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-primary {
    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      padding: 0 7px;

      a {
        font-size: 16px;
        font-family: 'gilroysemibold', sans-serif;
      }
    }
  }

  #search-toggle {
    position: relative;

    .arrow-up {
      display: none;
      position: absolute;
      bottom: -40px;
      left: 2px;
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $brand-rose;
    }
  }

  #search-flyout {
    background-color: $brand-rose;
    padding: 80px 15px;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    z-index: 1337;
    display: none;

    .text {
      margin: 0 auto;
      max-width: 800px;
    }
  }
}
