.owl-stage {
  @extend .flex;
  @extend .block2;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0px;
}

// * image being manipulated from here
.owl-carousel .owl-item img {
  height: max-content;
  max-height: 620px;

  @media screen and (max-width: $phone) {
    min-height: 290px;
    max-height: 290px;
  }
}

.carousel {
  width: 100%;
  max-width: 100% !important;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;

  @media screen and (min-width: $phone) {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: $phone) {
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  &.order {
    flex-direction: column-reverse;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10px;

    @media screen and (max-width: $phone) {
      flex-direction: column;
      justify-content: center;
      width: 100vw;

      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0 !important;
      overflow: hidden;
    }
  }

  &__content {
    margin-left: -100px;
    max-width: 446px;
    max-height: 446px;
    min-height: 446px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 20px;
    background: $lightgray;
    z-index: 100;

    @extend .blue-border;
    
    @media screen and (max-width: 800px) {
      min-height: 200px;
      max-height: 300px;
      min-width: 200px;
      max-width: 300px;

      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 10px;

      margin-top: -30px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image {
    height: 100%;
    @media screen and (max-width: $large_screen) {
      padding-right: 0px;
      padding-left: 0px;
      overflow: hidden;
    }
  }
}


















// .owl-item .cloned {
//   @media only screen and (max-width: $phone) {
//     visibility: hidden;
//   }
// }

// .owl-carousel .owl-item {
//   @media only screen and (max-width: $phone) {
//     width: 100vw !important;
//   }
// }

// .owl-carousel.owl-drag .owl-item {
//   // overflow: hidden;
// }

// .carousel {
//   width: 100%;
//   height: 700px;
//   margin-top: 5rem;
//   margin-bottom: 5rem;
//   justify-content: space-between;

//   @extend .flex;

//   &.reorder {
//     flex-direction: row-reverse;
//   }

//   @media only screen and (max-width: $phone) {
//     width: 100vw;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//   }


//   &__content {
//     background-color: #203046;
//     color: #fff !important;
//     // max-width: 446px;
//     max-height: 446px;
//     margin-top: 70px;
//     padding-top: 50px;
//     padding-left: 50px;
//     flex-direction: column;
//     justify-content: flex-start;
//     z-index: 10 !important;

//     @extend .flex;

//     @media only screen and (max-width: $phone) {
//       max-width: 333.4px;
//       height: 239.2px;
//       margin-top: -50px;
//     }
    
//     &-text {
//       align-self: flex-start;
//       height: 105px;
//       max-width: 530px;
      
//       @extend .introduction;
//     }

//     @media only screen and (min-width: $phone) {
//       &.right {
//         margin-left: -8rem;
//       }
  
//       &.left {
//         margin-right: -8rem;
//       }
//     }
//   }

//   &__image {
//     & > img {
//       width: unset !important;
//       max-width: 974.4px;
//       height: 620px;

//       @media only screen and (max-width: $phone) {
//         height: 290px;
//         width: 100vw;
//         max-width: 100vw;
//         margin: 0 !important;
//       }
//     }
//   }
// }

// .red {
//   background: red !important;
// }

// .green {
//   background: green !important;
// }