.image_and_text_narrow {
  @extend .flex;
  @extend .block2;

  width: 75%;
  
  @media screen and (max-width: $phone) {
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100vw;

    &:last-child {
      justify-content: flex-start;
    }
  }

  &.reorder {
    flex-direction: row-reverse;
  }
  &.right {
    justify-content: flex-end;
  }
  &.left {
    justify-content: flex-start;
  }

  &__align {
    &-right {
      display: flex;
      justify-content: flex-end;
    }

    &-left {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__content {
    @extend .blue-border;

    background-color: $lightgray;
    height: auto;
    z-index: 0;

    @media screen and (max-width: $phone) {
      width: 100%;
      // min-height: 290px;
      min-height: 340px;
      padding-top: 15px;
      padding-right: 20px;
      padding-left: 23px;
    }

    @media screen and (min-width: $phone) {
      max-height: 500px;
      padding-top: 45px;
      padding-left: 52px;
      padding-right: 147px;

      &.right {
        margin-left: -3rem;
      }
  
      &.left {
        margin-right: -10rem;
      }
    }
   
    &-text {
      @extend .introduction;
      height: auto;

      & > p > .button {
        @extend .flex;
        justify-content: center;
        width: 100%;        
      }
    }
  }

  &__image {
    @include salmon-border();
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: -50px;
    min-height: 200px;
    height: auto;
    z-index: 10;

    &.left {
      margin-right: -3rem;
    }
    &.right {
      margin-left: -100px;
    }

    @media screen and (max-width: $phone ){
      margin-top: -40px;  
      margin-bottom: 25px;
      width: 80%;

    }
  }
}
