.image_and_text {
  @extend .flex;
  height: max-content;

  &.reorder {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: $phone) {
    flex-wrap: wrap;
  }

  &__image {
    background: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-height: 100%;

    @media only screen and (max-width: $phone) {
      display: block;
      width: 375px;
      height: 293px;
    }
  }

  &__content {
    @extend .blue-border;
    background-color: $brand-black;
    color: $white;
    height: auto;
    max-width: 663px;
    max-height: 455px;

    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;

    // min width 1200px -- desktop
    @media only screen and (min-width: 1200px) {
      margin-top: 50px;
      margin-bottom: 200px;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 50px;
      padding-right: 20px;

      &.right {
        margin-left: -15rem;
      }

      &.left {
        margin-right: -15rem;
      }
    }

    // max width 1200px -- tablet
    @media only screen and (max-width: 1200px) {
      margin-top: 50px;
      margin-bottom: 100px;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 50px;
      padding-right: 20px;

      &.right {
        margin-left: -15rem;
      }

      &.left {
        margin-right: -15rem;
      }
    }
    
    @media only screen and (max-width: $phone) {
      max-height: 620px;
      margin-top: -50px;
      margin-bottom: 50px;
      margin-left: 20px;
      margin-right: 20px !important;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;
      

      &.right {
        margin-left: 0;
      }

      &.left {
        margin-right: 0;
      }
    }
  }
}