// .row {
//   &.top {
//     margin-top: 50px;
//     margin-left: 0px;
//     margin-right: 0px;
//   }
//   &.bottom {
//     margin-bottom: 70px;
//     margin-left: 0px;
//     margin-right: 0px;
//   }

//   @media screen and (max-width: $phone) {
//     &.top {
//       margin-top: 25px;
//       margin-left: 0px;
//       margin-right: 0px;
//     }
//     &.bottom {
//       margin-bottom: 25px;
//       margin-left: 0px;
//       margin-right: 0px;
//     }
//   }
// }

.image_and_text_square {
  @extend .flex;
  justify-content: center !important;
  padding: 0 !important;
  
  &.reorder {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: $phone) {
    flex-wrap: wrap;
    @include block2();
  }

  &__content {
    @extend .blue-border;
    @extend .flex;
    background-color: $lightgray;
    color: $brand-black;
    height: auto;
    min-height: 200px;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 52px;
    padding-right: 147px;
    z-index: 0;

    &.top {
      align-self: flex-start;
      @media screen and (min-width: $large-screen) {
        margin-bottom: 50px;
      }
    }
    &.bottom {
      align-self: flex-end;
      @media screen and (min-width: $large-screen) {
        margin-top: 50px;
      }
    }

    @media screen and (max-width: $phone) {
      position: unset;
      padding-top: 25px;
      padding-bottom: 20px;
      padding-left: 25px;
      padding-right: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -50px;
      max-width: 333.4px;
      max-height: 310px;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    min-height: 290px;
    max-height: 620px;
    height: auto;

    @media screen and (max-width: $phone ){
      width: 100vw;
    }
  }
}
