.wysiwyg {
  display: flex;
  height: 100%;

  @extend .block2;

  @media screen and (max-width: $phone){
    padding-left: 20px;
    padding-right: 20px;
  }
  
  &.left {
    justify-content: flex-start;
  }

  &.right {
    display: flex;
    justify-content: flex-end;
  }

  &__75 {
    width: 75%;
  }

  &__100 {
    width: 100%;
  }
}